body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.admin-panel {
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #f9f9f9;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.welcome {
    flex: 1;
}

.actions {
    margin-left: 20px;
}

.admin-panel h2 {
    margin-top: 0;
}

.admin-panel p {
    margin-bottom: 10px;
}

.actions button {
    display: block;
    margin-bottom: 10px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.actions button:last-child {
    margin-bottom: 0;
}
